<div class="jumbotron" style="position: relative">
  <div class="text-center">
    <h1 class="display-4">Marcus Vinicius</h1>
    <h3>Front-end Developer</h3>
  </div>

  <div style="position: absolute; bottom: 5px; right: 10px">
    <!-- card LinkedIn -->
    <a
      href="https://www.linkedin.com/in/marcus-d-oliveira"
      target="_blank"
      class=""
    >
      <fa-icon
        [icon]="faLinkedin"
        style="color: #212529; margin-left: 0.5rem"
        class="fa-xl rounded-circle me-3 mt-2"
      ></fa-icon>
    </a>

    <!-- card Github -->
    <a
      href="https://www.github.com/Dev-Marcus-Oliveira"
      target="_blank"
      class=""
    >
      <fa-icon
        [icon]="faSquareGithub"
        style="color: #212529; margin-left: 0.5rem"
        class="fa-xl rounded-circle me-3 mt-2"
      ></fa-icon>
    </a>

    <!-- card Instagram -->
    <a href="https://www.instagram.com/_mah_vini/" target="_blank" class="">
      <fa-icon
        [icon]="faSquareInstagram"
        style="color: #212529; margin-left: 0.5rem"
        class="fa-xl rounded-circle me-3 mt-2"
      ></fa-icon>
    </a>
  </div>
</div>
