<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h1>Contact</h1>
    <p>
      I can be contacted via email by clicking this icon:
      <a href="mailto: marcusvinicius17031998@gmail.com"
        ><fa-icon
          [icon]="faEnvelopeOpenText"
          style="color: #0b5ed7; margin-left: 0.5rem; cursor: pointer"
          class="fa-xl"
        ></fa-icon
      ></a>
    </p>
    <p>Feel free to connect with me on any of the following platforms:</p>
  </div>

  <div class="list-group shadow">
    <!-- card LinkedIn -->
    <a
      href="https://www.linkedin.com/in/marcus-d-oliveira"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <fa-icon
        [icon]="faLinkedin"
        style="color: #0b5ed7; margin-left: 2rem"
        class="fa-xl rounded-circle flex-shrink me-4 mt-2"
      ></fa-icon>
      <h3 class="mb-0">LinkedIn</h3>
    </a>

    <!-- card Github -->
    <a
      href="https://www.github.com/Dev-Marcus-Oliveira"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <fa-icon
        [icon]="faSquareGithub"
        style="color: #0b5ed7; margin-left: 2rem"
        class="fa-xl rounded-circle flex-shrink me-4 mt-2"
      ></fa-icon>
      <h3 class="mb-0">Github</h3>
    </a>

    <!-- card Instagram -->
    <a
      href="https://www.instagram.com/_mah_vini/"
      target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3"
    >
      <fa-icon
        [icon]="faSquareInstagram"
        style="color: #0b5ed7; margin-left: 2rem"
        class="fa-xl rounded-circle flex-shrink me-4 mt-2"
      ></fa-icon>
      <h3 class="mb-0">Instagram</h3>
    </a>
  </div>
</div>
